{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base_index.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="video-background">
    <video id="background-video" autoplay loop>
        <source src="{% static 'video/show.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<button class="control-button" id="play-pause-button">暂停</button>

<nav>
    <ul>
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a href="{% url 'dashboard' %}">控制台</a></li>
        <li><a href="{% url 'infoSys' %}">海洋综合信息管理</a></li>
    </ul>
    <ul>
{#        <li class="login-register-btn"><a href="{% url 'dashboard' %}">控制台</a></li>#}
        <li class="login-register-btn"><a href="{% url 'login' %}">登录/注册</a></li>
    </ul>
</nav>

<a class="about-us" href="{% url 'about_us' %}">关于我们</a>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<script>
    window.onload = function () {
        var video = document.getElementById("background-video");
        var button = document.getElementById("play-pause-button");

        function togglePlayPause() {
            if (video.paused || video.ended) {
                video.play();
                button.textContent = "暂停";
            } else {
                video.pause();
                button.textContent = "播放";
            }
        }

        button.addEventListener("click", function () {
            togglePlayPause();
        });
    }
</script>
{% block extra_script %}{% endblock %}
</body>
</html>
