{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% block otherstyle %}{% endblock %}
</head>
<body>

<div class="sidebar" id="sidebar" onmouseover="expandSidebar()" onmouseout="collapseSidebar()">
    <!-- 一级链接列表 -->
    <ul>
        <a href="{% url 'index' %}" class="first-level">
            <div class="link-content">
                <img src="{% static 'img/button.png' %}" alt="Home">
                <span>首页</span>
            </div>
        </a>
    </ul>
    <ul>
        <a href="{% url 'dashboard' %}" class="first-level">
            <div class="link-content">
                <img src="{% static 'img/button.png' %}" alt="Home">
                <span>控制台</span>
            </div>
        </a>
    </ul>
    <ul>
        <li>
            <a href="{% url 'infoSys' %}" class="first-level">
                <div class="link-content">
                    <img src="{% static 'img/info.png' %}" alt="Management">
                    <span>海洋信息综合管理</span>
                </div>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#" class="first-level">
                <div class="link-content">
                    <img src="{% static 'img/button.png' %}" alt="Sea">
                    <span>海洋视觉</span>
                </div>
            </a>
            <!-- 二级链接列表 -->
            <ul class="second-level">
                <li><a href="{% url 'upload_images' %}">图片识别</a></li>
                <li><a href="{% url 'upload_videos' %}">视频检测</a></li>
                <li><a href="#">图像重构</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <a href="{% url 'sea_llms' %}" class="first-level">
            <div class="link-content">
                <img src="{% static 'img/button.png' %}" alt="Text Assistant">
                <span>文本助手</span>
            </div>
        </a>
    </ul>    <!-- 需要时添加更多链接 -->

    <ul>
        <!-- 用户头像 -->
        <div class="avatar-container" id="avatar-container">
            <img alt="User" loading="lazy" width="32" height="32"
                 decoding="async" data-nimg="1" class="rounded-sm"
                 src="{% static 'img/default_user.png' %}"
                 style="color: transparent;">
            <div class="font-semibold">{{ current_user.username }}</div>
        </div>
        <!-- 下拉菜单 -->
        <div id="dropdown-menu" class="hidden">
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'personal' %}">Profile</a>
            <!-- 其他选项 -->
        </div>
    </ul>
</div>

<!-- 顶部栏 -->
<div class="top-bar">
    <!-- 内容区域 -->
    <div>
        <h2>{% block top_name %}{% endblock %}</h2>
    </div>
</div>

<!-- 内容区域 -->
<div class="content" id="content">
    {% block content %}{% endblock %}
</div>

<!-- 脚本用于切换侧边栏宽度 -->
<script src="{% static 'js/siderbar.js' %}"></script>
<script src="{% static 'js/personal.js' %}"></script>
{% block extrasrcipt %}{% endblock %}
</body>
</html>
