{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base_infoSys.css' %}">
    {% block otherstyle %}{% endblock %}

</head>
<body>
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'img/info.png' %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'infoSys' %}">海洋信息综合管理 <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">数据预处理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">模型管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">回收站</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <input class="form-control mr-sm-2" type="search" placeholder="在云端硬盘中搜索" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </div>
        </form>
        <div class="user-info">
            <button type="button" class="btn btn-link user-avatar" data-toggle="popover" title="用户信息"
                    data-content="这里是用户详细信息" id="popover-trigger">
                <img src="{% static 'img/default_user.png' %}" alt="User Avatar" class="user-avatar" id="UserAvatar">
            </button>
            <!-- 气泡内容放置在外部，方便后续控制显示与隐藏 -->
            <div class="popover" id="popover-content">
                <span>用户名</span>
                <a href="#">上传文献</a>
            </div>
        </div>


    </div>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="new-button">
                <button class="btn btn-primary" id="newButton">新建</button>
                <div class="popover" id="popover">
                    <button id="uploadButton">上传图片</button>
                    <input type="file" id="imageInput" multiple style="display: none;">
                </div>

                <div class="modal fade" id="createFolderModal" tabindex="-1" role="dialog"
                     aria-labelledby="createFolderModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createFolderModalLabel">创建新文件夹</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" id="folderNameInput" class="form-control"
                                       placeholder="请输入文件夹名称">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="createFolderBtn">创建</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="uploadProgress"
                 style="position: fixed; bottom: 20px; right: 20px; background-color: #ccc; width: 200px; height: 20px;">
                <div id="progressBar" style="height: 100%; background-color: #007bff; width: 0;"></div>
                <span id="progressText"
                      style="position: absolute; top: 0; right: 5px; font-size: 12px; color: #000;">0%</span>

            </div>
            <div class="card mt-3">
                <div class="card-header">
                    存储空间
                </div>
                <div class="card-body">
                    已使用 561.8MB / 15 GB
                    <div class="progress">

                        <span class="sr-only">已完成 37%</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    {% block card_header %}{% endblock %}
                </div>
                <div class="card-body">
                    <!-- 内容部分 -->
                    {% block card_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <p class="text-muted">
            基于深度学习的多维度海洋生态监测平台-海洋信息综合管理
        </p>
    </div>
</footer>
<script src="{% static 'js/show_new.js' %}"></script>
<script src="{% static 'js/uploadImages_sys.js' %}"></script>
<script>
    document.getElementById("createFolderBtn").addEventListener("click", function () {
        var folderName = document.getElementById("folderNameInput").value;
        // 发送Ajax请求到后端创建文件夹
        // 这里假设使用jQuery发送Ajax请求
        $.ajax({
            url: "{% url 'create_folder' %}",
            type: "POST",
            data: {folder_name: folderName},
            success: function (response) {
                // 处理成功创建文件夹后的操作，例如刷新页面
                location.reload();
            },
            error: function (xhr, status, error) {
                // 处理错误情况
                console.error(error);
            }
        });
    });
</script>
{% block extra_script %}{% endblock %}
</body>
</html>
