{% extends 'html/../html_model/base_dashboard.html' %}
{% block title %}海洋视觉{% endblock %}
{% load static %}

{% block otherstyle %}
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard_.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block top_name %}控制台{% endblock %}
{% block content %}
    <p>当前用户: {{ current_user.username }}</p>

    <div class="links">
        <a href="{% url 'upload_images' %}">图片识别</a>
        <a href="{% url 'upload_videos' %}">视频检测</a>
        <a href="#">图像重构</a>
        <a href="{% url 'tongyi_page' %}">通义大模型</a>
        <a href="{% url 'infoSys' %}">海洋信息综合管理系统</a>
        <!-- 添加更多链接 -->
    </div>
    <br>
    <h2>用户基本信息</h2>
    <div id="user_activity_analysis" class="chart-container">
        <div id="user_activity_chart" class="chart" data-url="{% url 'get_user_activity_info' %}">
            <div class="chart-title">用户活动情况</div>
        </div>
        <div id="user_storage_chart" class="chart" data-url="{% url 'get_user_storage' %}">
            <div class="chart-title">用户存储使用情况</div>
        </div>
    </div>
    <br>

    <h2>硬件监控</h2>
    <div id="hardware_usage" class="chart-container" data-url="{% url 'get_hardware_usage' %}">
        <div id="cpu_chart" class="chart">
            <div class="chart-title">CPU使用情况</div>
        </div>
        <div id="memory_chart" class="chart">
            <div class="chart-title">内存使用情况</div>
        </div>
    </div>
{% endblock %}


{% block extrasrcipt %}
    <script src="{% static 'js/hardware_monitor.js' %}"></script>
    <script src="{% static 'js/user_activity_analysis.js' %}"></script>
    <script src="{% static 'js/user_storage.js' %}"></script>
{% endblock %}
