{% extends 'html/base_dashboard.html' %}
{% load static %}
{% block title %}海洋大模型{% endblock %}
{% block otherstyle %}
    <script src="{% static 'js/csrf.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/llms.css' %}">
{% endblock %}
{% block top_name %}文本助手{% endblock %}

{% block content %}
    <header>
        <h1>海洋大模型</h1>
    </header>
    <div id="chat-container">
        <div id="chat-log"></div>
        <!-- 聊天输入框 -->
        <div class="chat-input">
            <div class="input-container">
                <input type="text" id="user-input" placeholder="请输入你想要问的..." onkeydown="handleKeyDown(event)">
                <button onclick="sendMessage()">发送</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrasrcipt %}
    <script>
        function sendMessage() {
            var userInput = document.getElementById('user-input').value;
            var chatLog = document.getElementById('chat-log');

            // 显示用户输入
            chatLog.innerHTML += '<div class="user-message">You: ' + userInput + '</div>';

            // 发送用户输入到后端获取回复
            fetch('/get_response', {
                method: 'POST',
                body: new URLSearchParams({
                    'user_input': userInput
                }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
                .then(response => response.text())
                .then(data => {
                    // 显示 AI 回复
                    chatLog.innerHTML += '<div class="ai-message">AI: ' + data + '</div>';
                    // 滚动到底部
                    chatLog.scrollTop = chatLog.scrollHeight;
                });

            // 清空输入框
            document.getElementById('user-input').value = '';
        }

        function handleKeyDown(event) {
            // 检测按下的键是否是回车键
            if (event.key === 'Enter') {
                sendMessage(); // 执行发送消息的操作
            }
        }

    </script>
{% endblock %}
