{% extends 'html/../html_model/base_dashboard.html' %}
{% load static %}
{% block title %}视频检测{% endblock %}
{% block otherstyle %}
    <style>
        /* 调整上传进度百分比的样式 */
        #percent {
            font-size: 24px; /* 设置字体大小为 24 像素 */
            font-weight: bold; /* 设置字体加粗 */
        }

    </style>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/botton_text.css' %}">

{% endblock %}
{% block top_name %}海洋生物视频检测{% endblock %}

{% block content %}
    <form id="uploadForm" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="video">选择要上传的图片:</label>
        <input type="file" id="video" name="video" accept="video/*" required>
        <br><br>
        <button type="button" id="uploadButton">上传</button>
    </form>

    <!-- 进度文本 -->
    <p id="progressText">0% 完成</p>
    <div id="preview"></div>
    <p id="detectionStatus"></p>


{% endblock %}
{% block extrasrcipt %}
    <script src="{% static 'js/uploadVideos.js' %}"></script>

{% endblock %}
